---

description: list of project including class generator GUI from database tables

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="photo-project"><h1 class="headline-kt"> LIST OF BLOGS</h1></div>
      <div class="wrapper">
                
         <div class="home">

  <h1 class="page-heading">{{ site.title }}</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> 
       <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>


  <br/>  

</div>

            

      </div>

    </div>


  
    

   {% include footer.html %}

  </body>
</html>
